@font-face {
    font-family: 'LOTTERIA DDAG';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/LOTTERIADDAG/LOTTERIADDAG.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/LOTTERIADDAG/LOTTERIADDAG.ttf') format('truetype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/LOTTERIADDAG/LOTTERIADDAG.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/LOTTERIADDAG/LOTTERIADDAG.woff2') format('woff2'),
}
